{% extends 'base.html' %}
{% load profile_tools %}

{% block title %} 
{{ page_title }} 
{% endblock title %}

{% block main %}
{% if request.user|has_group:"Managers" %}
    <div class="d-grid gap-2 d-md-block">
    <a href="{% url 'author-create' %}" class="btn btn-secondary btn btn-block" role="button">Добавить автора</a>
    </div>
{% endif %}

<div class="container-ы">
  <div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
        <li class="list-group-item active" aria-current="true"><h4 class="display-5"><p class="text-center">Авторы</p></h4></li>
        {% for author in category %}
        <li class="list-group-item"><h4>{{ author.name_author }}</h4></li>
                <a href="{% url 'author-detail' author.pk %}"><button type="button" class="btn btn-secondary btn btn-block" role="button">Подробнее</button></a>
                <a href="{% url 'author-filter' %}?author={{ author.pk }}"><button type="button" class="btn btn-info btn btn-block" role="button">Показать книги автора</button></a>
              {% if request.user|has_group:"Managers" %}    
                <a href="{% url 'author-update' author.pk %}"><button type="button" class="btn btn-success btn btn-block" role="button">Редактировать</button></a>
                <a href="{% url 'author-delete' author.pk %}"><button type="button" class="btn btn-danger btn btn-block" role="button">Удалить</button></a>   
            
            {% endif %}
        {% endfor %}
        
      </ul>
  </div>


{% endblock main %}