{% extends 'base.html' %}

{% block title %} 
{{ page_title }} 
{% endblock title %}


{% block main %}



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
        <ul class="list-group">
        <li class="list-group-item active" aria-current="true"><h5 class="display-5">Жанры</h5></li>
        {% for genre in category %}
        <li class="list-group-item"><a href="{% url 'product_filter' %}?genre={{ genre.pk }}">{{ genre.name_genre }}</a></li>
        {% endfor %}
        
      </ul>
  </div>

    <div class="col-sm-6">
      <li class="list-group-item active" aria-current="true"><h5 class="display-5">Новинки</h5></li>
        {% for product in last_product %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img class="card-img-top" height="250" src="{{ product.photo.url }}" alt="Card image cap">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'book-detail' product.pk %}">{{ product.name_book }}</a></h5>
                <p class="card-text">{{ product.price }}</p>
                <p class="card-text"><small class="text-muted">{{ product.availability }}</small></p>
               <a href="{% url 'cart:add-to-cart' %}?product={{ product.pk }}" class="btn btn-primary">Добавить в корзину</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}
     
    
