{% extends 'base.html' %}

{% block title %} 
{{ page_title }} 
{% endblock title %}

{% block main %}
<a href="{% url 'books-list' %}">Вернуться в каталог</a><br>
<div class="card mb-3" style="max-width: 1140px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ object.photo.url }}" class="img-thumbnail" alt="">
      <h5 class="card-title">Автор: {{ object.author_book }}</h5>
      
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{ object.name_book }}</h3>
        <p class="card-text">{{ object.genre_book }}</p>
        <p class="card-text">{{ object.series_book }}</p>
        <p class="card-text">Описание: {{ object.descriptions_book }}</p>
        <p class="card-text">Издательство: {{ object.publishing_book }}</p>
        <p class="card-text">Год издания: {{ object.year_publishing }}</p>
        <p class="card-text">Кол-во страниц: {{ object.number_of_pages }}</p>
        <p class="card-text">Тип обложки: {{ object.binding }}</p>
        <p class="card-text">Формат: {{ object.format_book }}</p>
        <p class="card-text">ISBN: {{ object.isbn }}</p>
        <p class="card-text">Вес книги: {{ object.weight }}</p>
        <h5 class="card-title">Цена: {{ object.price }}</h5>
        <a href="{% url 'cart:add-to-cart' %}?product={{ product.pk }}" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
</div>

{% endblock main %}