{% extends 'base.html' %}
{% load profile_tools %}

{% block title %} 
{{ page_title }} 
{% endblock title %}

{% block main %}

{% if request.user|has_group:"Managers" %}
    <div class="d-grid gap-2 d-md-block">
    <a href="{% url 'book-create' %}" class="btn btn-primary btn btn-block" role="button">Добавить книгу</a>
    </div>
{% endif %}

 <div class="row">
          {% for product in sort_genre %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" height="350" src="{{ product.photo.url }}" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'book-detail' product.pk %}">{{ product.name_book }}</a>
                </h4>
                <h6>{{ product.author_book }}</h6>
                <h5>{{ product.price }} руб.</h5>
                <h5>{{ product.availability }}</h5>
                <a href="#">
                  <button class="btn btn-primary">Добавить в корзину</button>
                </a>
                {% if request.user|has_group:"Managers" %}
                <div class="d-grid gap-2">
                <a href="{% url 'book-delete' product.pk %}" class="btn btn-danger">Удалить</a>
                <a href="{% url 'book-update' product.pk %}" class="btn btn-success">Редактировать</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>



   
{% endblock main %}
