{% extends 'base.html' %}

{% block title %} 
{{ page_title }} 
{% endblock title %}

{% block main %}
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="row">#</th>
        <th scope="row">Название</th>
        <th scope="row">Фото</th>
        <th scope="row">Описание</th>
        <th scope="row">Автор</th>
        <th scope="row">Жанр</th>
        <th scope="row">Серия</th>
        <th scope="row">Издательство</th>
        <th scope="row">Год публикации</th>
        <th scope="row">Количество страниц</th>
        <th scope="row">Цена</th>
        <th scope="row">Тип обложки</th>
        <th scope="row">Формат книги</th>
        <th scope="row">ISBN</th>
        <th scope="row">Вес</th>
        <th scope="row">Возрастное ограничение</th>
        <th scope="row">Наличие товара</th>
        <th scope="row">Количество</th>
        <th scope="row">Created</th>
        <th scope="row">Updated</th>
        <th scope="row">actions</th>
      </tr>
    </thead>
    {% for product in object_list %}
      <tr>
        <th scope="row">{{ product.pk }}</th>
        <td><a href="{% url 'book-detail' product.pk %}">{{ product.name_book }}</a></td>
        <td>{{ product.photo }}</td>
        <td>{{ product.descriptions_book }}</td>
        <td>{{ product.author_book }}</td>
        <td>{{ product.genre_book }}</td>
        <td>{{ product.series_book }}</td>
        <td>{{ product.publishing_book }}</td>
        <td>{{ product.year_publishing }}</td>
        <td>{{ product.number_of_pages }}</td>
        <td>{{ product.price }} </td>
        <td>{{ product.binding }} </td>
        <td>{{ product.format_book }} </td>
        <td>{{ product.isbn }} </td>
        <td>{{ product.weight }} </td>
        <td>{{ product.age_restrictions }} </td>
        <td>{{ product.availability }} </td>
        <td>{{ product.quantity }} </td>
        <td>{{ product.created }} </td>
        <td>{{ product.updated }} </td>  

        <td><a href="{% url 'book-delete' product.pk %}"><button type="button" class="btn btn-outline-danger">DEL</button></a>
            <a href="{% url 'book-update' product.pk %}"><button type="button" class="btn btn-outline-info">EDIT</button></a>
          </td>
      </tr>
    {% endfor %}
  </table>
  <a href="{% url 'book-create' %}"><button type="button" class="btn btn-primary">Add Book</button></a>
{% endblock main %}
