{% extends 'base.html' %}

{% block title %} 
{{ page_title }} 
{% endblock title %}

{% block main %}
    <h1>Book name {{ object.name_book }}</h1>
    <a href="{% url 'books-list' %}">All books</a><br>
    {{ object.descriptions_book }} <br>
    {{ object.author_book }} <br>
    {{ object.genre_book }} <br>
    {{ object.series_book }} <br>
    {{ object.publishing_book }} <br>
    {{ object.year_publishing }} <br>
    {{ object.number_of_pages }} <br>
    {{ object.created }} <br>
    {{ object.updated }} <br>  
{% endblock main %}