{% extends 'base.html' %}

{% block title %} 
{{ page_title }} 
{% endblock title %}

{% block main %}
    
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ object.photo.url }}" alt="">
        {% for product in object_list %}
        <div class="card-body">
        <h5 class="card-title"><a href="{% url 'book-detail' product.pk %}">{{ product.name_book }}</a></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
        </div>
      {% endfor %}

      </div>
    
{% endblock main %}
 