<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Книжный интернет-магазин</title>
  <link rel="stylesheet" href="styles.css">

</head>
<body>
  <div class="page-wrapper">
    <div class="top-menu-wrapper">
      <div class="top-menu">
        <ul class="horizontal-menu" id="">
          <li class="current">
            <a href="/">Главная</a>
          </li>
          <li>
            <a href="/delivery">Доставка</a>
          </li>
          <li>
            <a href="/pay">Оплата</a>
          </li>
          <li>
            <a href="/books">Каталог книг</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <h1>Book name {{ object.name_book }}</h1>
    <a href="{% url 'books-list' %}">All books</a><br>
    {{ object.descriptions_book }} <br>
    {{ object.author_book }} <br>
    {{ object.genre_book }} <br>
    {{ object.series_book }} <br>
    {{ object.publishing_book }} <br>
    {{ object.year_publishing }} <br>
    {{ object.number_of_pages }} <br>
    {{ object.created }} <br>
    {{ object.updated }} <br>  
</body>
</html>